<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Home</title>
	<ui:include src="layout.xhtml" />
</h:head>
<body>
 
<div class="container">
   Welcome to wow nepal..!
</div>
</body>
</html>